.Field {
  margin: 2% auto 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .GameTable {
    overflow: hidden;
    scroll-behavior: center;
    width: 100%;
    height: 90%;

    img {
      border: 1px solid black;
      border-radius: 10px;
    }

    .BeatCard {
      position: relative;
      left: -98px;
      transform: rotate(25deg);
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .Field {
    .GameTable {
      img {
        height: 120px;
        width: 75px;
      }

      .BeatCard {
        left: -75px;
      }
    }
  }
}
